@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

body {
    font-family: "Inter", sans-serif;
    background: rgb(0, 0, 0);
    ;
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

/* command style */
.container {
    width: 90%;
    margin: 50px auto;
    /* border: 2px solid red; */
}

.font-family {

    font-family: 'Miama', sans-serif;
    font-weight: 300;
    font-weight: 200;
}

.hambar {
    display: none;
    color: #fff;
}

.btn-primary {
    background: rgb(230, 83, 60);
    color: white;
    font-weight: 600;
    border: none;
    padding: 10px 20px;
    border-radius: 46px;
}

button {
    color: #fff;
    background: #000;
    border: none;
    margin-right: 30px;
}

.btn-style {
    color: #fff;
    background: #000;
    padding: 10px 16px;
    border-radius: 46px;
    margin-right: 30px;
    border: 1px solid #fff;
}

h1 {
    color: white;
    font-size: 4rem;
}

p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    letter-spacing: 0.5px;
    font-weight: 200;
}

/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-style {
    display: flex;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    justify-content: space-between;
    color: white;
    gap: 17px;
}

.span {
    font-size: 2rem;
    color: rgb(230, 83, 60);
    font-weight: 700;
}

/* banner */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.banner-btn {
    margin-top: 44px;
}

.banner-video {
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    position: absolute;
    bottom: 50px;
    right: 270px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.banner-video h1 {
    margin-top: 0px;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0px;

}

.banner-video p {
    margin-top: 2px;
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
}

.boll {
    background: rgb(230, 83, 60);
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.banner-video-2 {
    position: absolute;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    top: 120px;
    right: -60px;

}

.banner-video-2 p {
    font-size: 1rem;
    font-weight: 500;

}

.banner-video-2 h1 {
    margin-top: 0px;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0px;

}

.banner-img img {
    width: 100%;
}

/* habits-img */
.habits-img {
    display: flex;
    justify-content: space-around;
}

.habits-title {
    font-size: 3rem;
    text-align: center;
    font-weight: 700;
    margin: 0px;

}

.habits-description {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}

.img-style {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.img-style h1 {
    font-size: 1rem;
    text-align: center;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
}

.img-style p {
    text-align: center;
    margin-top: 0px;
    font-size: 0.9rem;
}

.img-style img {
    border-radius: 50%;
}

/* run-section  */
.run-section {
    display: flex;
    margin-top: 0px;
    justify-content: space-between;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    padding: 40px;
    gap: 50px;
    align-items: center;
}

.run-content {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: flex-start;
}

.run-title {
    margin-top: 10px;
    line-height: 120%;
}

.run-description {
    margin-top: 5px;
    line-height: 24px;
}


.run-images img {
    width: 100%;
    border-radius: 10px;
    height: 312px;
    object-fit: none;
    object-position: 66% 33%;
}

.btn-styles {
    padding: 10px 50px;
    margin-top: 40px;
}

/*  Bmi-section */
.Bmi-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bml {
    text-align: left;
}

.Bmi-section h1 {
    margin: 0px;
    font-size: 3rem;
}

.Bmi-section p {
    margin-top: 10px;
    font-size: 1rem;
}

/* calcluator */
.calculator {
    background: rgb(34, 34, 34);
    padding: 20px;
}

.calcukator-containt {
    display: flex;
    justify-content: space-around;
}

/* table */
.bmi-table {
    margin-top: 50px;
    margin-left: 14px;
}

table {
    color: #6a6969;
    border: 1px solid #6a6969;
    border-collapse: collapse;

}

td,
th {
    border: 1px solid #a2a2a2;
    padding: 4px;
    padding: 10px;
}

th {
    color: #fff;
}

.bmi-title {
    font-size: 2rem;
    margin: 10px;
}

.bmi-description {
    margin: 0px 10px 30px 10px;
}

.input-style {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
    margin-bottom: -10px;
}

.input-styles {
    display: grid;
   margin: 10px;

}

.bnb {
    width: 577px;
    height: 386px;
}

input,
select {
    border: none;
    padding: 10px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
}

.cal-btn {
    margin: 10px;
    padding: 10px 50px;
}

/* health-content */
.health-section{
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);

}
.health-content{
    text-align: center;
    padding: 20px;
}
.health-title{
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 40px;
}
.helath-picture{
    background: #fffdfd0a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 50px;
    padding: 20px;
    box-shadow:  0 25px 30px 2px rgb(0 0 0 / 0.25);
}
.helath-picture img{
    width: 90%;
    height: 300px;
}
/* .helath-picture :hover{
  background: #9c86f3;
  border-radius: 10px;
} */
.image-title{
    font-size: 2rem;
    font-weight: 400;
    color: rgba(222, 222, 231, 0.912);
    margin-bottom: 5px;
}
.health-img{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
}

/* content-section */

.content-secton {
    text-align: center;
    margin-bottom: 50px;
}

.content-secton h1 {
    text-align: center;
    margin: 20px;
}

.content-bg-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.content-bg-img {
    border-radius: 18px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
}

.content-image img {
    width: 100%;
    height: 272px;
    border-radius: 18px;
    background: rgba(0, 0, 0, 0.2), ;
}

.content-image {
    position: relative;
}

.title {
    position: absolute;
    bottom: 20px;
    left: 20%;
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    transform: translate(-50%, -50%);


}

.titles p {
    margin-left: 0px;
}

.tainer {
    position: absolute;
    bottom: 5px;
    left: 15%;
    color: #b3b2b2;
    font-weight: 500;
    transform: translate(-50%, -50%);
}

/* footer */
footer {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.footer h1 {
    font-size: 2rem;
    margin: 10px 0px;
}

.footer-description {
    margin-top: 20px;
}

.footer-title {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-end {
    text-align: center;
    margin-top: 50px;
}


/* media query section */
@media screen and (max-width:576px) {
    .banner-img {
        margin-top: 50px;
    }

    .banner-text-h1 {
        font-size: 2rem;
    }

    .list-style {
        display: none;
    }

    .hambar {
        display: block;
        font-size: 1.6rem;
        font-weight: 500;
        justify-items: center;
    }

    .banner,
    .habits-img,
    .run-section,
    .calculator,
    .calcukator-containt,
    .footer {
        flex-direction: column;
        justify-items: center;

    }

    .content-bg-img, .health-img {
        grid-template-columns: 1fr;
        gap: 3px;
    }
    .banner-video {
        padding: 9px;
        position: absolute;
        bottom: 240px;
        right: 190px;
    }
    .banner-video-2 {
        position: absolute;
        top: 635px;
        right: 40px;
        padding: 9px;
        font-size: .95px;
    }

    .banner-video-2 p,
    .banner-video p {
        font-size: 0.6rem;
        font-weight: 500;
    }

    .media-test {
        margin-top: 30px;
    }

    

    .img-style {
        margin-top: 40px;
    }

    /* habits section */
    .habits-title {
        font-size: 2rem;
        font-weight: 600;
    }

    .habits-description {
        font-size: 0.8rem;
        font-weight: 500;
        margin-top: 10px;
    }

    /* run- section */
    .run-title {
        font-size: 3rem;
        margin-bottom: 20px;

    }

    .run-description {
        margin-top: 10px;
        line-height: 24px;
    }

    .btn-styles {
        padding: 10px 90px;
        margin-left: 65px;
    }

    /* bmi-section */
    .bmi-table {
        margin: 20px 10px 40px;
    }

    .bmi-title {
        font-size: 1rem;
        margin-bottom: 10px;
    }

    .bnb {
        width: 354px;
        height: 395px;
    }

    .input-style {
        margin: 0px;
    }

    .input-style {
        grid-template-columns: 160px 160px;
        gap: 10px;
    }

    /* content-secton */
    .content-secton h1 {
        font-size: 2rem;
    }



}